body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #3249b2;
}

/* Gaya untuk wadah utama (search_div) */
.search_div {
    /* mengatur posisi untuk penempatan input dan tombol secara relatif */
    position: absolute;
    /* menentukan lokasi di tengah layar (dapat disesuaikan) */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* mengatur gaya kotak */
    background: #2d3339;
    height: 40px; /* tinggi wadah */
    border-radius: 30px; /* sudut membulat */
    padding: 10px; /* Padding di sekitar konten */

    /* agar hanya tombol yang terlihat saat awal */
    width: 40px;

    /* transisi untuk efek muncul/sembunyi input */
    transition: 0.4s;
}

/* Gaya dasar untuk input teks */
.search_input {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px; /*Tinggi baris sama dengan tinggi wadah */
    width: 0px; /* sembunyikan input pada awalnya */
}

/* Gaya dasar untuk tombol pencarian */
.search_button {
    color: #e84118; /* warna ikon */
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Membuat tombol lingkaran */
    background: #2f3640; /* warna latar tombol */
    display: flex; /* menggunakan flexbox untuk memposisikan ikon */
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    transition: 0.4s;
}

/* --------------------------------- */
/* EFEK HOVER - ketika mouse di atas wadah (.search_div) */
/* --------------------------------- */

/* 1. efek ketika kursor diarahkan ke wadah pencarian */
.search_div:hover {
    width: 240px; /* lebarkan wadah saat hover */
    padding: 0 6px; /* tambahkan padding horizontal */
}

/* 2. efek untuk tombol saat hover pada wadah */
.search_div:hover > .search_button {
    background: #fff; /* ubah latar tombol menjadi putih */
}

/* 3. efek untuk input saat hover pada wadah */
.search_div:hover > .search_input {
    width: 180px; /* tampilkan input dengan lebar tertentu */
    padding: 0 6px;
}